---
import BaseLayout from "../layouts/BaseLayout.astro"
import Container from "../components/Container.astro";
---

<BaseLayout title="Personal Statement" mainTheme="light" navTheme="dark" footerTheme="dark">
    <Container>
        <h1>Personal Statement</h1>
	    <p>Coming soon...</p>
    </Container>
</BaseLayout>